<h2>Hello, this is news!</h2>

{{#each courses}}
<p>{{this.name}}</p>
<p>{{this.description}}
    <img src="{{this.image}}" alt="{{this.name}}">
</p>
<a href="/courses/{{this.slug}}">
    <img src="{{this.image}}" alt="{{this.name}}">
</a>
{{/each}}
